.burger{
    display:none;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 20px;
    z-index: 50;
}

.burger span{
    background-color: aliceblue;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 9px
}
.burger::before,
.burger::after{
    content:'';
    background-color: aliceblue;
    position: absolute;
    width: 100%;
    height: 2px;
}
.burger::before{
    top: 0px;
}
.burger::after{
    bottom: 0px;
}

@media (max-width: 824px){
    .burger{
        display:block;
    }
}